body {
  font-family: "Tahoma";
}

.container {
  width: 80vw;
  margin: 5vw auto;
  padding: 2vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 2vw;
}

.header h1 {
  font-size: 3vw;
  color: #3e3939;
}

.input-group {
  display: flex;
  margin-bottom: 2vw;
}

.input-field {
  width: 100%;
  padding: 1vw;
  margin-right: 1vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5vw;
}

.error {
  border-color: red;
  border-width: 2px;
}

.error::placeholder {
  color: red;
  opacity: 1;
}

.add-button {
  padding: 1vw 1.5vw;
  border: none;
  border-radius: 5px;
  background-color: #e03b4c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.5vw;
}

.add-button:hover {
  background-color: #ab2533;
}

.filter-section {
  font-size: 1.3vw;
}

.filter-label {
  display: flex;
  align-items: center;
}

.filter-label input[type="checkbox"] {
  cursor: pointer;
  max-width: 2vw;
  margin-right: 1vw;
}
